<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baskin.back.Mapper.ProductMapper">

    <select id="findAll" resultType="baskin.back.DTO.ProductDTO">
        SELECT
            product.id,
            product.name,
            product.en_name,
            category.category_name,
            product.description,
            product.kcal,
            product.salt,
            product.sugar,
            product.fat,
            product.protein,
            product.caffeine,
            product.img_url,
            tag.tag_name,
            allergy.allergy_name
        FROM
            product
        LEFT JOIN category ON product.category_id = category.id
        LEFT JOIN (SELECT
                        product.id AS id,
                        array_agg(allergy.allergy_name) AS allergy_name
                    FROM
                        product
                    LEFT JOIN productallergy ON product.id = productallergy.productid
                    LEFT JOIN allergy ON productallergy.allergyid = allergy.id
                    GROUP BY product.id) as allergy ON product.id = allergy.id
        LEFT JOIN (SELECT
                        product.id AS id,
                        array_agg(tag.tag_name) AS tag_name
                    FROM
                        product
                    LEFT JOIN producttag ON product.id = producttag.product_id
                    LEFT JOIN tag ON producttag.tag_id = tag.id
                    GROUP BY product.id) as tag ON product.id = tag.id
        ORDER BY product.id
    </select>

    <select id="findByName" resultType="baskin.back.DTO.ProductDTO">
        SELECT
            product.id,
            product.name,
            product.en_name,
            category.category_name,
            product.description,
            product.kcal,
            product.salt,
            product.sugar,
            product.fat,
            product.protein,
            product.caffeine,
            product.img_url,
            tag.tag_name,
            allergy.allergy_name
        FROM
            product

                LEFT JOIN category ON product.category_id = category.id
                LEFT JOIN (SELECT
                               product.id AS id,
                               array_agg(allergy.allergy_name) AS allergy_name
                           FROM
                               product
                                   LEFT JOIN productallergy ON product.id = productallergy.productid
                                   LEFT JOIN allergy ON productallergy.allergyid = allergy.id
                           GROUP BY product.id) as allergy ON product.id = allergy.id
                LEFT JOIN (SELECT
                               product.id AS id,
                               array_agg(tag.tag_name) AS tag_name
                           FROM
                               product
                                   LEFT JOIN producttag ON product.id = producttag.product_id
                                   LEFT JOIN tag ON producttag.tag_id = tag.id
                           GROUP BY product.id) as tag ON product.id = tag.id
    <bind name="names" value="'%'+name+'%'"/>
    <where>
        <if test = "name != null">AND product.name like #{names}</if>
    </where>
        ORDER BY product.id
    </select>

    <select id = "findProductFilter">

    </select>
</mapper>